@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<br /><br /><br /><br /><br /><br />

<div style="text-align:center">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h1>
                About
            </h1>
        </div>
        <div class="panel panel-body">
            <h2>Mohammad Yamen Hallak - Networks and Computer Systems Engineer</h2>
            <h3>M.sc. In Damascus University: 2018 - Present</h3>
            <br/>            
            <h4>I am from Damascus - Syria</h4>
            <h4>an engineer of networks and computer systems</h4>
            <h4>I have experience in programming</h4>
            <h4>and interest in and love for network engineering and computer systems</h4>
            <h4> and I have knowledge in many of the technologies which is related to my job</h4>                        
        </div>
    </div>
</div>
