
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <br/><br /><br /><br /><br />
    <br /><br /><br /><br /><br />

    <div class="col-md-4 col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading text-center">
                <h3>Admin</h3>
            </div>
            <div class="panel-body">                

                <div class="col-md-12 col-sm-12 text-center">
                    <h4>Create, Edit and Delete Product</h4>
                </div>

                <div class="col-md-12 col-sm-12 text-center">
                    <hr>
                    @Html.ActionLink("Enter", "../Admin", null,new { @class = "btn btn-success btn-block" })
                </div>

            </div>
        </div>
    </div>    



    <div class="col-md-4 col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading text-center">
                <h3>Home</h3>
            </div>
            <div class="panel-body">

                <div class="col-md-12 col-sm-12 text-center">
                    <h4>Products, It's Image and Description</h4>
                </div>

                <div class="col-md-12 col-sm-12 text-center">
                    <hr>
                    @Html.ActionLink("Enter", "./Index", null, new { @class = "btn btn-success btn-block" })
                </div>

            </div>
        </div>
    </div>    



    <div class="col-md-4 col-sm-4">
        <div class="panel panel-success">
            <div class="panel-heading text-center">
                <h3>Ajax Search</h3>
            </div>
            <div class="panel-body">

                <div class="col-md-12 col-sm-12 text-center">
                    <h4>Search For Product Using Ajax Call</h4>
                </div>

                <div class="col-md-12 col-sm-12 text-center">
                    <hr>
                    @Html.ActionLink("Enter", "./Search2", null, new { @class = "btn btn-success btn-block" })
                </div>

            </div>
        </div>
    </div>    
</body>
</html>
